html, body {
    margin: 0;
    padding: 0;
    background-color: #19bfbc
  }
  canvas {
    display: block;
  margin: 100px;
  }

  .pic {
    border-style: solid;
    border-width: 5px;
    border-color: red;
  }